.end{
	float: left;
	width: 100%;
	height: 60px;
	margin-top: 15%;
	margin-bottom: 0;
	background-color: #000000;
	opacity: 0.8;

}
.us{
	color: white;
	font-size: 18px;
	margin-top: 0;
	margin-left: 4%;
}
